/* selector.css */
/* 모든 요소 선택 */
* { font-weight: bold; color: darkorange; }
/* 같은 선택자의 경우 뒤에 오는 것이 우선순위 높음 */
* { color: plum; }
/* 태그 선택자 */
/* 별표 선택자보다 우선순위 높음 */
p { color: olivedrab; }
/* 클래스 선택자 */
/* 태그보다 우선순위 높음 */
/* 페이지 상의 여러 요소가 같은 class를 가질 수 있음 */
.blue { color: lightblue; }
/* 다른 선택자에 이어붙일 수 있음(태그, 클래스 등) */
/* 선택자는 구체적일수록 우선순위 높음 */
/* p태그면서 blue 클래스를 가지고 있는 엘리먼트 선택
(p.blue를 p. blue처럼 띄어쓰면 의미가 완전 달라지므로 주의.
p가 블루라고 하는 자식을 가지는 클래스 엘리먼트를 선택하겠다는 의미가 되어버린다.) */
p.blue { color: slateblue }
.blue.dark { color: mediumblue }
p.blue.dark { color: darkblue }
/* id 선택자 */
/* class보다 우선순위 높음. !important에 가깝다. */
/* id는 페이지 상에서 요소마다 고유해야 함 */
#red {color: tomato;}
/* 그룹 선택자 */
span, .dark, #red { text-decoration: underline; }
span { text-decoration-color: black; }